body{
    background: lightgray;
}
.content{
    display: flex;
}
.content:hover {
    flex-direction: row-reverse;
}
.one{
    height: 150px;
    background:red;
    width: 33.33%;
    margin:5px;
}

.two{
    height: 150px;
    background:blue;
    width: 33.33%;
    margin:5px;
}

.three{
    height: 150px;
    background:green;
    width: 33.33%;
    margin:5px;
}
