body {
    background: #FFFFFF;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000;
    font-size: 2em;
    padding-top: 100px;
    width: 100%;
    font-family: Helvetica, serif;
    text-align: center;
}

h2 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: #111;
    font-weight: 100;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    text-align: left;
    width: 70%;
    font-family: Helvetica, serif;
}

p {
    color: #111;
    line-height: 1.3em;
    text-align: left;
    font-family: Helvetica, serif;
    font-size: 18px;
}

/*HEADER*/

header {
    padding-bottom: 5px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}


.logo {
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 50, 0.97);
    float: left;
    width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    padding-left: 20px;
    font-family: Helvetica, serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b0191f;
}

/*FOOTER*/

footer {
    background-color: #b0191f;
    color: white;
    position: relative;
    padding: 10px;
    bottom: 0;
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

/*GALLERY*/

.gallery {
    margin: 5px;
    float: left;
    width: 24%;
    text-align: center;
}

.gallery img {
    height: 150px;
    width: 200px;
}

.description {
    padding: 15px;
}

/*ABOUT*/

.author {
    margin: 15px;
    float: left;
    width: 45%;
    text-align: center;
}

.author img {
    width: 300px;
}

.about-text {
    margin: 5px;
    float: left;
    width: 50%;
    text-align: center;
}
